{{ define "main" }}
{{ $posts := .Site.GetPage "/posts" }}
{{ $posts := $posts.Resources.ByType "page" }}
{{ $posts := cond .Site.BuildDrafts $posts (where $posts "Draft" "==" false) }}
{{ partial "single_header.html" . }}
{{ $dateFormat := (.Site.GetPage "/").Params.date_format }}
<main class="content" role="main">
    {{ range $index_val, $elem_val := $posts }}
        <div class='post-holder'>
            <article class="post">
                <header class="post-header">
                    <a id="post-{{.Name | anchorize}}"></a>
                    <h2 class="post-title">{{ .Title }}</h2>
                    <h6 class="post-date">{{ .Date.Format $dateFormat }}</h6>
                </header>
                <section class="post-content">
                    {{ .Content }}
                </section>
            </article>
            <div class='post-after'></div>
        </div>
    {{ end }}
</main>
{{ end }}
